<html lang="zxx" class="no-js">

  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png" />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Karma Shop</title>

    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="/csskarma/linearicons.css" />
    <link rel="stylesheet" href="/csskarma/owl.carousel.css" />
    <link rel="stylesheet" href="/csskarma/themify-icons.css" />
    <link rel="stylesheet" href="/csskarma/font-awesome.min.css" />
    <link rel="stylesheet" href="/csskarma/nice-select.css" />
    <link rel="stylesheet" href="/csskarma/nouislider.min.css" />
    <link rel="stylesheet" href="/csskarma/bootstrap.css" />
    <link rel="stylesheet" href="/csskarma/main.css" />
    {{! header  }}
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

    {{! /header  }}
  </head>

  <body>
    {{! heaer }}
    <header class="header-v4">
      <!-- Header desktop -->
      <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
          <div class="content-topbar flex-sb-m h-full container">
            <div class="left-top-bar">
              Free shipping for standard order over $100
            </div>

            <div class="right-top-bar flex-w h-full">
              <a href="#" class="flex-c-m trans-04 p-lr-25">
                Help & FAQs
              </a>
              {{#if user}}
                <a href="#" id="logPopup" class="flex-c-m trans-04 p-lr-25">
                  <i class="fas fa-user fa-lg me-3 fa-fw"> </i>
                  {{user.name}}</a>
                <a href="/logout" class="flex-c-m trans-04 p-lr-25">
                  Logout
                </a>

              {{else}}
                <a
                  href="/login"
                  id="logPopup"
                  class="flex-c-m trans-04 p-lr-25"
                >
                  My Account
                </a>

                {{!/ popup Model  }}

              {{/if}}
            </div>
          </div>
        </div>

        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop container">

            <!-- Logo desktop -->
            <a href="/" class="logo">
              <img src="images/icons/logo-00.png" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li class="active-menu">
                  <a href="/">Home</a>
                  {{! <ul class="sub-menu">
									<li><a href="/">Homepage 1</a></li>
									<li><a href="/">Homepage 2</a></li>
									<li><a href="/">Homepage 3</a></li>
								</ul> }}
                </li>

                <li>
                  <a href="/dummy">Shop</a>
                </li>

                <li>
                  <a href="/orders">My Orders</a>
                </li>

                <li>
                  <a href="blog.html">Blog</a>
                </li>

                <li>
                  <a href="about.html">About</a>
                </li>

                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m">
              <div
                class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search"
              >
                <i class="zmdi zmdi-search"></i>
              </div>

              <div class="icon-header-item cl1 hov-cl2">
                <a
                  href="/cart"
                  class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                  data-notify="{{cartcount}}"
                ><i class="zmdi zmdi-shopping-cart"></i> </a>
                {{!-- <span class="badge bg-info text-white align-center" style="width:20px;height:20px">{{cartcount}}</span> --}}

              </div>

              <a
                href="/wishlist"
                class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                data-notify="0"
              >
                <i class="zmdi zmdi-favorite-outline"></i>
              </a>
            </div>
          </nav>
        </div>
      </div>

      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
          <a href="/"><img src="images/icons/logo-00.png" alt="IMG-LOGO" /></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
          <div
            class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search"
          >
            <i class="zmdi zmdi-search"></i>
          </div>

          {{!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  " data-notify="{{cartcount}}">
					<a href="/cart"></a>
					<i class="zmdi zmdi-shopping-cart"></i>
				</div> --}}
          <a
            href="/cart"
            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
            data-notify="{{cartcount}}"
          ><i class="zmdi zmdi-shopping-cart"></i></a>

          <a
            href="#"
            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
            data-notify="0"
          >
            <i class="zmdi zmdi-favorite-outline"></i>
          </a>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
        <ul class="topbar-mobile">
          <li>
            <div class="left-top-bar">
              Free shipping for standard order over $100
            </div>
          </li>

          <li>
            <div class="right-top-bar flex-w h-full">
              <a href="#" class="flex-c-m p-lr-10 trans-04">
                Help & FAQs
              </a>
              {{#if user}}
                <a href="/logout" class="flex-c-m p-lr-10 trans-04">
                  Logout
                </a>
              {{else}}
                <a href="/login" class="flex-c-m p-lr-10 trans-04">
                  My Account
                </a>
              {{/if}}
            </div>
          </li>
        </ul>

        <ul class="main-menu-m">
          <li>
            <a href="/">Home</a>
            <span class="arrow-main-menu-m">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
          </li>

          <li>
            <a href="/">Shop</a>
          </li>

          <li>
            <a href="/cart" class="label1 rs1" data-label1="hot">Features</a>
          </li>

          <li>
            <a href="blog.html">Blog</a>
          </li>

          <li>
            <a href="about.html">About</a>
          </li>

          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </div>

      <!-- Modal Search -->
      <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
          <button
            class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search"
          >
            <img src="images/icons/icon-close2.png" alt="CLOSE" />
          </button>

          <form class="wrap-search-header flex-w p-l-15">
            <button class="flex-c-m trans-04">
              <i class="zmdi zmdi-search"></i>
            </button>
            <input
              class="plh3"
              type="text"
              name="search"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </header>
    <!--================Order Details Area =================-->
    <section class="order_details section_gap">
      <div class="container">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <div class="row order_d_inner">
          <div class="col-lg-6">
            <div class="details_item">
              <h4>Order Info</h4>
              <ul class="list">
                <li><a href="#"><span>Order ID</span>
                    :
                    {{orderProducts._id}}</a></li>
                <li><a href="#"><span>Date</span>
                    :
                    {{orderProducts.ordered_on}}</a></li>
                <li><a href="#"><span>Total</span>
                    : ₹
                    {{orderProducts.grandTotal}}</a></li>
                <li><a href="#"><span>Payment method</span>
                    :
                    {{orderProducts.paymentMethod}}</a></li>
              </ul>
            </div>
          </div>
          {{! <div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<li><a href="#"><span>Street</span> : 56/8</a></li>
							<li><a href="#"><span>City</span> : Los Angeles</a></li>
							<li><a href="#"><span>Country</span> : United States</a></li>
							<li><a href="#"><span>Postcode </span> : 36952</a></li>
						</ul>
					</div>
				</div> }}
          <div class="col-lg-6">
            <div class="details_item">
              <h4>Shipping Address</h4>
              <ul class="list">
                <li><a href="#"><span>Name</span>
                    :{{orderProducts.deliveryDetails.name}}</a></li>
                <li><a href="#"><span>Address</span>
                    :
                    {{orderProducts.deliveryDetails.house}}</a></li>
                <li><a href="#"><span>district</span>
                    :
                    {{orderProducts.deliveryDetails.district}}</a></li>
                <li><a href="#"><span>Postcode </span>
                    :
                    {{orderProducts.deliveryDetails.pincode}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="order_details_table">
          <h2>Order Details</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {{#each orderProducts.product}}
                  <tr>
                    <td>
                      <h4>{{pro_id.bookName}}</h4>
                    </td>
                    <td>
                      <h5>x {{this.quantity}}</h5>
                    </td>
                    <td>
                      <h4> ₹ {{this.subtotal}}</h4>
                    </td>
                  </tr>
                {{/each}}

                <tr>
                  <td>
                    <h4>Subtotal</h4>
                  </td>
                  <td>
                    <h5></h5>
                  </td>
                  <td>
                    <p> ₹ {{orderProducts.Total}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Shipping</h4>
                  </td>
                  <td>
                    <h5></h5>
                  </td>
                  <td>
                    <p> ₹ {{orderProducts.ShippingCharge}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Total</h4>
                  </td>
                  <td>
                    <h5></h5>
                  </td>
                  <td>
                    <p> ₹ {{orderProducts.grandTotal}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="/jskarma/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="/jskarma/vendor/bootstrap.min.js"></script>
    <script src="/jskarma/jquery.ajaxchimp.min.js"></script>
    <script src="/jskarma/jquery.nice-select.min.js"></script>
    <script src="/jskarma/jquery.sticky.js"></script>
    <script src="/jskarma/nouislider.min.js"></script>
    <script src="/jskarma/jquery.magnific-popup.min.js"></script>
    <script src="/jskarma/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"
    ></script>
    <script src="/jskarma/gmaps.min.js"></script>
    <script src="/jskarma/main.js"></script>
    {{!-- index --}}
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="javascripts/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="javascripts/main.js"></script>
    {{!-- /index --}}
    {{! /head  }}
  </body>

</html>